<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Addresses</title>
</head>
<body>


<div align="center">
    <h1>Addresses</h1>



    <a href="/new_adres">Enter New Adres</a>
    <!-- Table -->
    <table border = "1" cellpadding = "10">
        <!-- Table header -->
        <thead>
        <tr>
            <th>ID Adresu</th>
            <th>Miasto</th>
            <th>Ulica</th>
            <th>Numer Lokalu</th>
            <th>ID Poczty</th>
        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <tr th:each = "Kluby : ${listAdres}">
            <td th:text = "${adres.ID_adresu}">ID Adresu</td>
            <td th:text = "${adres.miasto}">Miasto</td>
            <td th:text = "${adres.ulica}">Ulica</td>
            <td th:text = "${adres.nr_lokalu}">Numer Lokalu</td>
            <td th:text = "${adres.ID_poczty}">ID Poczty</td>
            <td>
                <a th:href="@{'/edit/{ID_adresu}' + ${adres.ID_adresu}}">Edit</a>

                <a th:href="@{'/delete/' + ${adres.ID_adresu}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>

<!--To jest plik, w którym widzimy tabele i mamy guzik do dodawania pozycji lub edytowania-->
<!--Jest to opcja tylko dla admina-->
<!--User może tylko zobaczyć tabelę (ale nie wiem, jak to zrobić jeszcze)-->