<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Klub Manager</title>
</head>
<body>


<div align="center">
    <h1>Football Clubs</h1>

    <!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
    <!--@thymesVar id="klub" type="bdbt_project_2.SpringApplication.Klub"-->
    <!--@thymesVar id="listKlub" type="java.lang.String"-->
    <!--*/-->
    <a href="/new_club">Enter New Club</a>
<!-- Table -->
    <table border = "1" cellpadding = "10">
  <!-- Table header -->
          <thead>
              <tr>
                  <th>ID_klubu</th>
                  <th>nazwa</th>
                  <th>email</th>
                  <th>numer_telefonu</th>
                  <th>data_zalozenia</th>
                  <th>barwy</th>
                  <th>ID_adresu</th>
                  <th>Action</th>
              </tr>
          </thead>
          <!-- Table body -->
          <tbody>
            <tr th:each = "kluby : ${listKlub}">
                <td th:text = "${klub.ID_klubu}">ID_klubu</td>
                <td th:text = "${klub.nazwa}">nazwa</td>
                <td th:text = "${klub.email}">email</td>
                <td th:text = "${klub.numer_telefonu}">numer_telefonu</td>
                <td th:text = "${klub.data_zalozenia}">data_zalozenia</td>
                <td th:text = "${klub.barwy}">barwy</td>
                <td th:text = "${klub.ID_adresu}">ID ID_adresu</td>
                <td>
                    <a th:href="@{'/edit/{ID_klubu}' + ${klub.ID_klubu}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${klub.ID_klubu}}">Delete</a>
                </td>
            </tr>
          </tbody>
    </table>
</div>

</body>
</html>

<!--To jest plik, w którym widzimy tabele i mamy guzik do dodawania pozycji lub edytowania-->
<!--Jest to opcja tylko dla admina-->
<!--User może tylko zobaczyć tabelę (ale nie wiem, jak to zrobić jeszcze)-->